user www-data {{ user_name }};
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
        worker_connections {{ num_processes.stdout }};
        # multi_accept on;
}

http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;
        
        # Basic Settings
        sendfile             on;
        tcp_nopush           on;
        tcp_nodelay          on;
        types_hash_max_size  2048;
        server_tokens        off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        # Rate limit
        limit_req_zone $binary_remote_addr zone=admin:10m rate=1r/s;

        # SSL Settings
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        # Logging Settings
        access_log /var/log/nginx/access.log;
        
        # BUFFERS
        #client_body_buffer_size 10k;             # default is 8k on 32-bit platforms and 16k on 64-bit platforms
        #client_header_buffer_size 1k;            # default is 1k
        #postpone_output 1460;                    # default is 1460 (assumes bytes)
        large_client_header_buffers     4 4k;     # default is 4 8k
        client_max_body_size            8M;       # default is 1m (too small)

        # TIMEOUTS
        keepalive_requests     100;   # default is 100
        keepalive_timeout      65s;   # default is 75s
        client_body_timeout    15s;   # default is 60s
        client_header_timeout  15s;   # default is 60s
        send_timeout           15s;   # default is 60s

        # CACHING
        #open_file_cache max=1000 inactive=1m;     # default is off
        #open_file_cache_valid 30s;                # default is 60s
        #open_file_cache_min_uses 5;               # default is 1
        #open_file_cache_errors off;               # default is off

        # Gzip Settings (disable since all data are behind SSL connection, https)
        #gzip on;
        #gzip_disable "msie6";
        #gzip_vary on;
        #gzip_proxied any;
        #gzip_comp_level 5;
        #gzip_buffers 16 8k;
        #gzip_min_length 256;
        #gzip_http_version 1.1;
        #gzip_types
        #    application/atom+xml
        #    application/javascript
        #    application/json
        #    application/ld+json
        #    application/manifest+json
        #    application/rss+xml
        #    application/vnd.geo+json
        #    application/vnd.ms-fontobject
        #    application/x-font-ttf
        #    application/x-web-app-manifest+json
        #    application/xhtml+xml
        #    application/xml
        #    font/opentype
        #    image/bmp
        #    image/svg+xml
        #    image/x-icon
        #    text/cache-manifest
        #    text/css
        #    text/plain
        #    text/vcard
        #    text/vnd.rim.location.xloc
        #    text/vtt
        #    text/x-component
        #    text/x-cross-domain-policy;

        # Virtual Host Configs
        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}


#mail {
#       # See sample authentication script at:
#       # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#       # auth_http localhost/auth.php;
#       # pop3_capabilities "TOP" "USER";
#       # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#       server {
#               listen     localhost:110;
#               protocol   pop3;
#               proxy      on;
#       }
#
#       server {
#               listen     localhost:143;
#               protocol   imap;
#               proxy      on;
#       }
#}
